{% extends "base-site.html" %}

{% block title %} Dashboard {% endblock %} 

{% block content %}

    <h2 class="page-title">Dashboard</h2>

    <div class="row">
        <div class="col-lg-4">
            <section class="widget" style="cursor: pointer;" onclick="window.location='/responses';">
                <header>
                    <h4>
                        Responses
                    </h4>
                </header>
                <div class="body">
                    <p>
                        See how user responded to your questions.
                    </p>
                </div>
            </section>
            <section class="widget">
                <header>
                    <h4>
                        Questions
                    </h4>
                </header>
                <div class="body">
                    <p>
                        View and edit questions that users are answering.
                    </p>
                </div>
            </section>
            <section class="widget">
                <header>
                    <h4>
                        Permissions
                    </h4>
                </header>
                <div class="body">
                    <p>
                        Receive respones from groups with permissions.
                    </p>
                </div>
            </section>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- page specific scripts -->
    <!-- page libs -->
    <script src="/static/assets/lib/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="/static/assets/lib/jquery.sparkline/index.js"></script>

    <script src="/static/assets/lib/backbone/backbone.js"></script>
    <script src="/static/assets/lib/backbone.localStorage/build/backbone.localStorage.min.js"></script>

    <script src="/static/assets/lib/d3/d3.min.js"></script>
    <script src="/static/assets/lib/nvd3/build/nv.d3.min.js"></script>

    <!-- page application js -->
    <script src="/static/assets/js/index.js"></script>
    <script src="/static/assets/js/chat.js"></script>

    <!-- page template -->
    <script type="text/template" id="message-template">
        <div class="sender pull-left">
            <div class="icon">
                <img src="/static/assets/img/2.png" class="img-circle" alt="">
            </div>
            <div class="time">
                just now
            </div>
        </div>
        <div class="chat-message-body">
            <span class="arrow"></span>
            <div class="sender"><a href="#">Tikhon Laninga</a></div>
            <div class="text">
                <%- text %>
            </div>
        </div>
    </script>

{% endblock javascripts %}
